@model ArkaApp.Models.EntityModels.ViewLog
@{
    ViewBag.Title = "افزایش View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
        <h4 class="page-title m-b-0">افزایش View</h4>
    </li>
    <li class="breadcrumb-item">
        <a href="/Dashboard/Index">
            <i class="fas fa-home"></i>
        </a>
    </li>
    <li class="breadcrumb-item"><a href="/ViewIncreasement/Index">لیست پست ها</a></li>
    <li class="breadcrumb-item active">افزایش View</li>
</ul>
<div class="section-body">
    <div class="row mt-sm-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-pane show" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                        <div class="card-header">
                            <h4>لطفا فرم زیر را تکمیل کنید.</h4>
                        </div>
                        @using (Html.BeginForm("Increase", "ViewIncreasement", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <input type="hidden" name="Log.PostID" id="Log_PostID" value="@ViewBag.PostID" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-12">
                                        @Html.LabelFor(model => model.Count)
                                        @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6 col-12 align-self-center">
                                        <label class="custom-switch">
                                            <input type="checkbox" name="priority-checkbox" id="priority-checkbox" value="0" class="custom-switch-input">
                                            <span class="custom-switch-indicator"></span>
                                            <span class="custom-switch-description">ثبت اولویت</span>
                                        </label>
                                    </div>
                                    <div class="form-group col-md-6 col-12 d-none" id="priority-div">
                                        @Html.DropDownListFor(model => model.Priority, (IEnumerable<SelectListItem>)ViewBag.Priority, "-- اولویت --", new { @class = "form-control select2", data_live_search = "true", data_width = "100%", data_style = "custom-select" })
                                        @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-right">
                                <a href="/ViewIncreasement/Index" class="btn btn-outline-primary">بازگشت</a>
                                <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/Scripts/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#priority-checkbox").change(function () {
                $("#priority-div").toggleClass('d-none');
            });
        });
    </script>
}
@section Styles{
    <link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
}