@model ArkaApp.Models.ViewModels.AccountSearchViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
            <h4 class="page-title m-b-0">مدیریت حساب ها</h4>
        </li>
        <li class="breadcrumb-item">
            <a href="/Dashboard/Index">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item active">لیست حساب ها</li>
    </ul>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="col-9">لیست حساب ها</h4>
                        <h4 class="col-3 text-right">
                            <a class="btn btn-primary" href="/AccountManagement/Add">ثبت حساب جدید</a>
                        </h4>
                    </div>

                    <div class="card-body">

                        @using (Html.BeginForm("Index", "AccountManagement", FormMethod.Get))
                        {
                            if (ViewBag.Done != null && ViewBag.Done == "Done")
                            {
                                <div class="alert alert-success" role="alert">
                                    عملیات با موفقیت انجام شد.
                                </div>
                            }
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.UserName) })
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.UserName) })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        @Html.DropDownListFor(model => model.UserID, Model.Users, "-- کاربر --", new { @class = "form-control select2", data_live_search = "true", data_width = "100%", data_style = "custom-select" })
                                    </div>
                                    <div class="col-4">
                                        @Html.DropDownListFor(model => model.IsEnabled, (IEnumerable<SelectListItem>)ViewBag.IsEnabled, null, new { @class = "form-control select2", data_width = "100%", data_style = "custom-select" })
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-primary btn-block" type="submit" name="SearchButton" id="SearchButton" value="جستجو"><i data-feather="search"></i>&nbsp; جستجو</button>
                                    </div>
                                </div>
                            </div>

                            if (Model.SearchResults.Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-bordered table-md">
                                        <tbody>
                                            <tr>
                                                <th>#</th>
                                                <th>نام کاربری</th>
                                                <th>کاربر</th>
                                                <th>وضعیت</th>
                                                <th></th>
                                            </tr>
                                            @{
                                                int row = 1;
                                                foreach (var item in Model.SearchResults)
                                                {
                                                    <tr>
                                                        <td>@row</td>
                                                        <td>@item.AccountUserName</td>
                                                        <td>@item.User.FullName</td>

                                                        <td>
                                                            @if ((bool)item.IsEnabled)
                                                            {
                                                                <p class="text-success"><i class="fas fa-check"></i>&nbsp;فعال</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="text-danger"><i class="fas fa-times"></i>&nbsp;غیر فعال</p>
                                                            }
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    عملیات
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" href="@Url.Action("Detail", "AccountManagement", new { id = item.AccountID })">جزئیات</a>
                                                                    <a class="dropdown-item" href="@Url.Action("Edit", "AccountManagement", new { id = item.AccountID })">ویرایش</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    row++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right" style="direction:ltr;">

                                    @Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", new RouteValueDictionary()
                                        {
                                            { "Page", page },
                                            { "UserID", Model.UserID },
                                            { "UserName", Model.UserName },
                                            { "IsEnabled", Model.IsEnabled }
                                        }),
                                        PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            }
                            else
                            {
                                <p class="text-dark">رکوردی یافت نشد.</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/Scripts/select2/js/select2.full.min.js"></script>
    <script>
        $('.table-responsive').on('show.bs.dropdown', function () {
            $('.table-responsive').css("overflow", "inherit");
        });

        $('.table-responsive').on('hide.bs.dropdown', function () {
            $('.table-responsive').css("overflow", "auto");
        })

    </script>
}
@section Styles{
    <link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

