@model ArkaApp.Models.ViewModels.UserEditViewModel

@{
    ViewBag.Title = "ویرایش کاربر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
        <h4 class="page-title m-b-0">ویرایش کاربر</h4>
    </li>
    <li class="breadcrumb-item">
        <a href="/Dashboard/Index">
            <i class="fas fa-home"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/UserManagement/Index">
            لیست کاربران
        </a>
    </li>
    <li class="breadcrumb-item active">ویرایش کاربر</li>
</ul>
<div class="section-body">
    <div class="row mt-sm-4">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
                <div class="card-body">
                    <div class="author-box-center">
                        @if (Model.ProfilePicture != null)
                        {
                            <figure class="avatar mr-2 avatar-xl">
                                <img src="@Model.ProfilePicture" alt="تصویر">
                                <i class="fas fa-trash fa-lg trashbadge text-danger font-20" id="btnDeletePicture" data-id="@Model.UserID" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="حذف تصویر فعلی"></i>
                            </figure>

                        }
                        else
                        {
                            <figure class="avatar mr-2 avatar-xl">
                                <img src="~/Images/png/user.png" alt="تصویر">
                            </figure>
                        }


                        <div class="clearfix mt-3"></div>
                        <div class="author-box-name">
                            <a href="#">@Model.FullName</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="tab-pane show" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                        <div class="card-header">
                            <h4>اطلاعات کاربر</h4>
                        </div>
                        @using (Html.BeginForm("Edit", "UserManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserID)

                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-12">
                                        @Html.LabelFor(model => model.FullName)
                                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" , maxLength = "200" } })
                                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        @Html.LabelFor(model => model.MobileNumber)
                                        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control", maxLength = "11" } })
                                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6 col-12">
                                        @Html.LabelFor(model => model.EmailAddress)
                                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", maxLength = "200"  } })
                                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        @Html.LabelFor(model => model.UserRoleID)
                                        @Html.DropDownListFor(model => model.UserRoleID, (SelectList)ViewBag.UserRoles, "-- نقش کاربر --", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.UserRoleID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6 col-12">
                                        @Html.LabelFor(model => model.ProfilePicture)
                                        <input name="File" class="form-control" type="file" data-buttonText="Browse" data-btnClass="btn-blue" data-buttonBefore="true" />
                                        @Html.ValidationMessageFor(model => model.ProfilePicture, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBox("IsEnabled", Model.IsEnabled, new { @class = "custom-control-input" })
                                            <label class="custom-control-label" for="IsEnabled">وضعیت</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <a href="/UserManagement/Index" class="btn btn-outline-primary">بازگشت</a>
                                <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/select2/js/select2.full.min.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <script>
        $('#btnDeletePicture').click(function () {
            var id = $('#btnDeletePicture').data("id");
            swal({
                title: 'آیا از حذف تصویر مطمئن هستید؟',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Dashboard/DeletePicture/" + id, // the URL of the controller action method
                        data: null, // optional data
                        success: function (result) {
                            swal('تصویر با موفقیت حذف شد.', {
                                icon: 'success',
                            });
                            location.reload();
                        },
                        error: function (result) {
                            swal('تصویر حذف نشد.', {
                                icon: 'error',
                            });
                        }
                    });
                }
            });
        });
    </script>

}
@section Styles{
    <link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
}
