@model ArkaApp.Models.ViewModels.UserSuperEditViewModel

@{
    ViewBag.Title = "ویرایش کاربر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
        <h4 class="page-title m-b-0">ویرایش کاربر</h4>
    </li>
    <li class="breadcrumb-item">
        <a href="/Dashboard/Index">
            <i class="fas fa-home"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/UserManagement/Index">
            لیست کاربران
        </a>
    </li>
    <li class="breadcrumb-item active">ویرایش کاربر</li>
</ul>
<div class="section-body">
    <div class="row mt-sm-4">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
                <div class="card-body">
                    <div class="author-box-center">
                        @if (Model.ProfilePicture != null)
                        {
                            <figure class="avatar mr-2 avatar-xl">
                                <img src="@Model.ProfilePicture" alt="تصویر">
                            </figure>

                        }
                        else
                        {
                            <figure class="avatar mr-2 avatar-xl">
                                <img src="~/Images/png/user.png" alt="تصویر">
                            </figure>
                        }

                        <div class="clearfix mt-3"></div>
                        <div class="author-box-name">
                            <a href="#">@Model.FullName</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="tab-pane show" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                        <div class="card-header">
                            <h4>اطلاعات کاربر</h4>
                        </div>
                        @using (Html.BeginForm("Edit", "UserManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserID)

                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        @Html.LabelFor(model => model.UserName)
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6 col-12">
                                        @Html.LabelFor(model => model.Password)
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/select2/js/select2.full.min.js"></script>
}
@section Styles{
    <link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
}
