<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="theme-color" content="red">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/img/favicon.ico' />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        @{
            using (ArkaApp.Models.EntityModels.ArkaAppEntities db = new ArkaApp.Models.EntityModels.ArkaAppEntities())
            {
                var User = db.User.FirstOrDefault(x => x.UserName.Equals(HttpContext.Current.User.Identity.Name));
                if (User.ProfilePicture != null)
                {
                    ViewBag.ProfilePicture = User.ProfilePicture;
                }
                else
                {
                    ViewBag.ProfilePicture = "";
                }
                ViewBag.FullName = User.FullName;
            }
        }
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        @Html.Partial("_WalletPartialView")
                    </li>
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle">
                            <i data-feather="settings" data-toggle="tooltip" data-placement="bottom" title="مدیرت حساب های اینستاگرام"></i>
                        </a>
                        @Html.Partial("_AccountsPartialView")
                    </li>
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link  nav-link-lg nav-link-user">
                            <i data-feather="user" data-toggle="tooltip" data-placement="bottom" title="مدیرت حساب"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">سلام @ViewBag.FullName</div>
                            <a href="/Dashboard/UserProfile" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> پروفایل
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/Home/SignOut" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                خروج
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">
                            <img alt="تصویر" src="~/Content/img/logo.png" class="header-logo">
                        </a>
                    </div>
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            @if (ViewBag.ProfilePicture == "")
                            {
                                <img src="~/Images/png/user.png" />

                            }
                            else
                            {
                                <img alt="تصویر" src="@ViewBag.ProfilePicture">

                            }
                        </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">@ViewBag.FullName</div>
                        </div>
                    </div>
                    @Html.Partial("_MenuPartialView")

                </aside>
            </div>
            <!-- Main Content -->

            <div class="main-content">
                @RenderBody()
                <div class="settingSidebar">
                    <a href="javascript:void(0)" class="settingPanelToggle">
                        <i class="fa fa-spin fa-cog"></i>
                    </a>
                    <div class="settingSidebar-body ps-container ps-theme-default">
                        <div class=" fade show active">
                            <div class="setting-panel-header">تنظیمات پنل</div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">رنگ قالب</h6>
                                <div class="selectgroup layout-color w-50">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="1"
                                               class="selectgroup-input-radio select-layout" checked>
                                        <span class="selectgroup-button">روشن</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="2"
                                               class="selectgroup-input-radio select-layout">
                                        <span class="selectgroup-button">تاریک</span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">رنگ نوار کناری                                </h6>
                                <div class="selectgroup selectgroup-pills sidebar-color">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="1"
                                               class="selectgroup-input select-sidebar">
                                        <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                              data-original-title="تم روشن"><i class="fas fa-sun"></i></span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="2"
                                               class="selectgroup-input select-sidebar" checked>
                                        <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                              data-original-title="تم تاریک"><i class="fas fa-moon"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">تم رنگی                                </h6>
                                <div class="theme-setting-options">
                                    <ul class="choose-theme list-unstyled mb-0">
                                        <li title="insta" class="active">
                                            <div class="insta"></div>
                                        </li>
                                        <li title="red">
                                            <div class="red"></div>
                                        </li>
                                        <li title="white">
                                            <div class="white"></div>
                                        </li>
                                        <li title="cyan">
                                            <div class="cyan"></div>
                                        </li>
                                        <li title="black">
                                            <div class="black"></div>
                                        </li>
                                        <li title="purple">
                                            <div class="purple"></div>
                                        </li>
                                        <li title="orange">
                                            <div class="orange"></div>
                                        </li>
                                        <li title="green">
                                            <div class="green"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label class="m-b-0">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                               id="mini_sidebar_setting">
                                        <span class="control-label p-l-10">مینی نوار کناری</span>
                                        <span class="custom-switch-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label class="m-b-0">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                               id="sticky_header_setting">
                                        <span class="control-label p-l-10">هدر استیکی</span>
                                        <span class="custom-switch-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                                    <i class="fas fa-undo"></i> تنظیمات پیشفرض
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    حق چاپ © @DateTime.Now.Date.Year <div class="bullet"></div>طراحی توسط تیم برنامه نویسی <a href="#">
                        محاسبات نرم فناوری اطلاعات و ارتباطات آرکا
                    </a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/app.min.js"></script>
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/js")
    <script type="text/javascript">
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);

        $('#action_' + '@ViewBag.ActiveMenu').addClass('active');
    </script>
    @RenderSection("Scripts", false)

</body>
</html>